@media (max-width: 360px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }

  p {
    padding: 0;
    margin: 0;
  }

  #wrap {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 40px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header p {
    font-family: "tvNJoyfulStory";
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #f5df4d;
    width: 297px;
    height: 24px;
  }

  header img {
    width: 278px;
    height: 130px;
    margin-bottom: 32px;
  }

  .intro {
    width: 330px;
    height: 68px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 60px;
  }

  .intro::before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 18px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-image: url("../images/left-effect.svg");
  }

  .intro::after {
    content: "";
    position: absolute;
    right: 0;
    width: 20px;
    height: 18px;
    top: 50%;
    background-size: contain;
    transform: translateY(-50%);
    background-image: url("../images/right-effect.svg");
  }

  .intro p {
    font-family: GmarketSans;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
  }

  .title-bold {
    font-family: GmarketSans;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  /* 컨텐츠 영역 */

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inline-container {
    width: 319px;
    height: 114px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .contents p {
    font-family: Gmarket Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;
  }

  #field-1,
  #field-2 {
    width: 156px;
    height: 38px;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .inline-box1,
  .inline-box2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .inline-box1,
  #block-text {
    margin-bottom: 12px;
  }

  #field-1::placeholder,
  #field-2::placeholder {
    font-family: GmarketSans;
    font-weight: 400;
    font-size: 14px;
    color: #babcbe;
    padding: 50.5px 12px;

    position: relative;
    bottom: 0em;
  }

  /* 버튼 컨테이너 */

  main button {
    background: #fcee21;
    box-sizing: border-box;
    border: none;

    font-family: GmarketSans;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #5b2386;

    box-shadow: 2px 4px 10px #00000026;
  }

  .button-container {
    margin-top: 80px;
    padding-left: 56px;
    display: flex; /* Flex 컨테이너로 설정 */
    flex-direction: row;
    margin-bottom: 28px;
    justify-content: center;
  }

  .how-train-button {
    width: 240px;
    height: 72px;
    border-radius: 12px;
    padding: 20px 38px;
  }

  .how-train-button-tx {
    font-family: GmarketSans;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 164px;
    height: 32px;
  }

  .point-icon {
    margin-left: 0px; /* 왼쪽 여백 7px */
    margin-top: 40px;
  }

  /* 결과 컨테이너 */
  .result-container {
    width: 286px;
    height: 64px;
  }

  .result-container p {
    font-family: GmarketSans;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;
  }

  .result-container span {
    font-family: x;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: white;
    margin-left: 12px;
    margin-right: 12px;
  }

  .result-linebox1 {
    margin-bottom: 16px;
  }

  .result-linebox2 {
    margin-left: 15.5px;
    margin-right: 15.5px;
  }

  /* 훈련버튼 */
  .nav-container {
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /*main button상속*/
  .go-button-icon {
    width: 203px;
    height: 46px;
    margin-left: 24px;
    border-radius: 12px;
    padding: 16px 24px;

    font-family: Gmarket Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .share-button-icon {
    width: 102px;
    height: 46px;
    border-radius: 12px;
    margin-right: 23px;
    padding: 16px 24px;
    background: white;
    margin-left: 12px;

    font-family: Gmarket Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  /* footer */
  footer {
    margin-top: 60px;
    margin-bottom: 48px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-wrap {
    width: 262px;
    height: 62px;
  }
  .footer-container img {
    margin-bottom: 12px;
  }

  .footer-container p {
    font-family: Noto Sans KR;
    font-weight: 300;
    font-size: 9px;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
  }
}
