

.modal-overlay {
  width: 800px;
  height: 816px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  display: none;
}

.modal-container {
  width: 508px;
  height: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 202px 0 202px;
}

.modal-title-container {
  width: 396px;
  height: 150px;
  padding: 0 56px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;

}

.modal-container p {
  font-family: tvN 즐거운이야기OTF;
  font-weight: 700;
  font-size: 96px;
  width: 396px;
  height: 106px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #5b2386;
  
}

#explain-tx {
  font-family: tvN 즐거운이야기OTF;
  font-weight: 700;
  font-size: 36px;
  width: 396px;
  height: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #5b2386;
}


/* 모달 버튼 컨테이너 */

.training-btn-container {
    width: 508px;
    height: 466px;
}

.modal-go-button {

    background: #fcee21;
    box-sizing: border-box;
    border: none;
    width: 508px;
    height: 64px;
    border-radius: 12px;
    font-family: G마켓 산스;
    font-weight: 500;

    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    margin-top: 60px;

    box-shadow: 2px 4px 10px #00000026;

    
}